.af-view .w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.af-view {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 20px;
}

.af-view h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.af-view h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #35b8be;
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.af-view h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
}

.af-view h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
}

.af-view h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.af-view h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.af-view p {
  margin-bottom: 10px;
  color: #546285;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.af-view a {
  color: #35b8be;
  text-decoration: underline;
}

.af-view li {
  color: #546285;
  font-size: 18px;
}

.af-view .af-class-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  padding: 5px 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #35b8be;
  background-image: url('../images/Banner-Wave.svg');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Source Code Pro', sans-serif;
  color: #fff;
  font-size: 15px;
}

.af-view .af-class-banner-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1000px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-nav-link {
  padding: 20px 3px;
  background-color: transparent;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #28224b;
  font-size: 16px;
  text-transform: none;
}

.af-view .af-class-nav-link:hover {
  opacity: 1;
  color: #28224b;
}

.af-view .af-class-nav-link.w--current {
  margin-left: 44px;
  padding-left: 3px;
  color: #35b8be;
}

.af-view .af-class-navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #cbe9c0;
}

.af-view .af-class-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 3%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #cbe9c0;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
}

.af-view .af-class-navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-nav-menu {
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.af-view .af-class-hero-paragraph {
  font-family: 'Source Code Pro', sans-serif;
  color: #546285;
  font-size: 18px;
  line-height: 1.34;
  font-weight: 400;
}

.af-view .af-class-hero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.af-view .af-class-button {
  min-height: 60px;
  padding: 20px 35px;
  border-radius: 9px;
  background-color: #7e828f;
  background-image: url('../images/Button-Wave.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.65;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-family: 'Source Code Pro', sans-serif;
  color: #f5fbfc;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.af-view .af-class-button:hover {
  background-color: #2faeb4;
}

.af-view .af-class-container-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #cbe9c0;
}

.af-view .af-class-hero-image-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-hero-h1 {
  max-width: 580px;
  margin-bottom: 20px;
  font-family: 'Source Code Pro', sans-serif;
  color: #08090a;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.af-view .af-class-footer-logo {
  margin-bottom: 25px;
}

.af-view .af-class-footer-link {
  margin-bottom: 12px;
  padding-top: 8px;
  padding-right: 6px;
  padding-bottom: 8px;
  color: #546285;
  font-size: 16px;
  text-decoration: none;
}

.af-view .af-class-footer-link:hover {
  color: #28224b;
}

.af-view .af-class-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.af-view .af-class-container.af-class-flex-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.af-view .af-class-legal {
  color: #353448;
}

.af-view .af-class-webflow-link {
  color: #35b8be;
}

.af-view .af-class-footer-grid {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 2fr 1fr 0.75fr 1fr;
  grid-template-columns: 2fr 1fr 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.af-view .af-class-footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 100px 3% 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #cbe9c0;
  background-image: url('../images/Pattern-Footer.svg');
  background-position: 0% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Source Code Pro', sans-serif;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.af-view .af-class-footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.af-view .af-class-content-section {
  position: relative;
  padding: 120px 3%;
  background-color: #cbe9c0;
  font-family: 'Source Code Pro', sans-serif;
}

.af-view .af-class-title-wrap-centre {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 670px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.af-view .af-class-works-grid {
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr 0.3fr 1fr 0.3fr 1fr;
  grid-template-columns: 1fr 0.3fr 1fr 0.3fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.af-view .af-class-content-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.af-view .af-class-step-image {
  margin-bottom: 40px;
}

.af-view .af-class-cta-grid {
  min-height: 640px;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.af-view .af-class-cta-image {
  background-image: url('../images/Group-Photo.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.af-view .af-class-cta-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #35b8be;
  background-image: url('../images/Pattern-01.svg');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.af-view .af-class-cta-section {
  padding: 3%;
  background-color: transparent;
}

.af-view .af-class-dark-span {
  color: #1b9097;
}

.af-view .af-class-faq-question-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.af-view .af-class-footer-legal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(126, 130, 143, 0.09);
  font-size: 15px;
}

.af-view .af-class-footer-detail-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-footer-detail-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 40px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #cbe9c0;
  font-family: 'Source Code Pro', sans-serif;
}

.af-view .af-class-utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.af-view .af-class-utility-page-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding-right: 3%;
  padding-left: 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.af-view .af-class-utility-image {
  margin-bottom: 30px;
}

.af-view .af-class-utility-paragraph {
  color: #7e828f;
  text-align: center;
}

.af-view .af-class-link {
  color: #35b8be;
}

.af-view .af-class-utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.af-view .af-class-input-field {
  height: 50px;
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: #f5fbfc;
}

.af-view .af-class-button-white {
  min-height: 60px;
  padding: 20px 35px;
  border-radius: 4px;
  background-color: #35b8be;
  background-image: url('../images/Button-Wave.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-size: 18px;
  text-align: center;
}

.af-view .af-class-button-white.af-class-button-space {
  margin-top: 40px;
  background-color: #fff;
  color: #35b8be;
}

.af-view .af-class-cta-heading {
  color: #fff;
  font-size: 55px;
  line-height: 1.1;
}

.af-view .af-class-line-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 140px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.af-view .af-class-line {
  width: 100%;
  height: 1px;
  border-style: dashed none none;
  border-width: 1.3px;
  border-color: #d1cdcd;
}

.af-view .af-class-colour {
  display: block;
  overflow: hidden;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #cbe9c0;
  box-shadow: 6px 6px 17px 0 rgba(82, 76, 76, 0.06);
}

.af-view .af-class-white-link {
  color: #fff;
  text-decoration: none;
}

.af-view .af-class-notice-text {
  color: hsla(0, 0%, 100%, 0.8);
}

.af-view .af-class-heading {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
}

.af-view .af-class-contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #cbe9c0;
}

.af-view .af-class-contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.af-view .af-class-heading-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Source Code Pro', sans-serif;
  color: #191b22;
  font-weight: 400;
  text-align: justify;
}

.af-view .af-class-field-label-2 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 6px #000;
}

.af-view .af-class-field-label-3 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 6px #000;
}

.af-view .af-class-field-label-4 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 6px #000;
}

.af-view .af-class-field-label-5 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 6px #000;
}

.af-view .af-class-body {
  background-color: #cbe9c0;
}

.af-view .af-class-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
}

.af-view .af-class-div-block-2 {
  width: 80px;
  height: 0px;
}

.af-view .af-class-footer-column2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.af-view .af-class-italic-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center;
  text-shadow: 1px 1px 6px #000;
}

.af-view .af-class-grid-5 {
  grid-template-areas: ".";
  -ms-grid-columns: 4.5fr;
  grid-template-columns: 4.5fr;
  -ms-grid-rows: auto minmax(auto, 1fr) auto auto;
  grid-template-rows: auto minmax(auto, 1fr) auto auto;
  background-color: #cbe9c0;
}

.af-view .af-class-field-label-6 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
}

.af-view .af-class-field-label-7 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
}

.af-view .af-class-body-2 {
  background-color: #cbe9c0;
}

.af-view .af-class-body-3 {
  background-color: #cbe9c0;
}

.af-view .af-class-field-label-8 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
}

.af-view .af-class-field-label-9 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
}

.af-view .af-class-field-label-10 {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
}

.af-view .af-class-grid-6 {
  grid-template-areas: ". ."
    "Area Area-2";
}

.af-view .af-class-heading-3 {
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .af-view .af-class-nav-link {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .af-view .af-class-icon {
    display: block;
  }

  .af-view .af-class-navbar {
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: transparent;
  }

  .af-view .af-class-navigation-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .af-view .af-class-menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 55px;
    min-width: 55px;
    margin-right: 0px;
    margin-left: 14px;
    padding: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(126, 130, 143, 0.1);
  }

  .af-view .af-class-menu-button.w--open {
    background-color: #35b8be;
  }

  .af-view .af-class-nav-menu {
    margin-right: 0px;
    background-color: #fff;
    box-shadow: 0 50px 80px -30px rgba(53, 52, 72, 0.2);
  }

  .af-view .af-class-hero-content {
    width: 100%;
    max-width: 730px;
    margin-bottom: 40px;
    padding-left: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .af-view .af-class-container-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .af-view .af-class-hero-image-wrap {
    width: 100%;
    margin-top: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .af-view .af-class-footer-grid {
    grid-column-gap: 24px;
    grid-row-gap: 50px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .af-view .af-class-content-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .af-view .af-class-works-grid {
    max-width: 510px;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .af-view .af-class-content-wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }

  .af-view .af-class-cta-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .af-view .af-class-cta-image {
    min-height: 420px;
  }

  .af-view .af-class-cta-content {
    min-height: 420px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .af-view .af-class-cta-heading {
    font-size: 55px;
  }

  .af-view .af-class-line-column {
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .af-view .af-class-line {
    width: 1px;
    height: 100%;
    min-height: 100px;
    border-style: none dashed none none;
  }
}

@media screen and (max-width: 767px) {
  .af-view .af-class-hero-content {
    padding-right: 0px;
    padding-left: 0px;
  }

  .af-view .af-class-footer-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .af-view .af-class-colour {
    margin-bottom: 25px;
  }

  .af-view .af-class-contact-form {
    padding: 40px 20px;
  }

  .af-view .af-class-italic-text {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

@media screen and (max-width: 479px) {
  .af-view h2 {
    font-size: 48px;
  }

  .af-view .af-class-banner {
    display: none;
  }

  .af-view .af-class-navbar {
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0);
  }

  .af-view .af-class-button {
    width: 100%;
    max-width: 250px;
  }

  .af-view .af-class-hero-h1 {
    font-size: 50px;
  }

  .af-view .af-class-legal {
    margin-right: 0px;
  }

  .af-view .af-class-footer-grid {
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .af-view .af-class-content-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .af-view .af-class-cta-content {
    padding: 12px;
  }

  .af-view .af-class-footer-legal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .af-view .af-class-footer-detail-left {
    width: auto;
  }

  .af-view .af-class-button-white {
    width: 100%;
    max-width: 250px;
  }

  .af-view .af-class-cta-heading {
    font-size: 43px;
  }

  .af-view .af-class-italic-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    direction: ltr;
    font-family: 'Source Code Pro', sans-serif;
    text-align: justify;
    text-transform: capitalize;
    text-shadow: 0 -1px 0 #191b22;
  }
}

.af-view #w-node-_67f7db32-28d2-9f37-8b84-a159dcc6da5a-dcc6da57 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 991px) {
  .af-view #w-node-_67f7db32-28d2-9f37-8b84-a159dcc6da5a-dcc6da57 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 767px) {
  .af-view #w-node-_67f7db32-28d2-9f37-8b84-a159dcc6da5a-dcc6da57 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
}

@media screen and (max-width: 479px) {
  .af-view #w-node-_67f7db32-28d2-9f37-8b84-a159dcc6da5a-dcc6da57 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  .af-view #w-node-f9b65ce6-9e2b-b100-af5a-09dc09ec1da8-e60ae88e {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  .af-view #w-node-f9b65ce6-9e2b-b100-af5a-09dc09ec1dac-e60ae88e {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  .af-view #w-node-f9b65ce6-9e2b-b100-af5a-09dc09ec1db0-e60ae88e {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  .af-view #w-node-f9b65ce6-9e2b-b100-af5a-09dc09ec1db4-e60ae88e {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}