.nav-link {
  padding: 20px 3px;
  background-color: transparent;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #28224b;
  font-size: 16px;
  text-transform: none;
}
.nav-link:hover {
  opacity: 1;
  color: #28224b;
}

.nav-link.w--current {
  margin-left: 44px;
  padding-left: 3px;
  color: #35b8be;
}